<h2 class="text-5xl font-bold text-amber-300 pl-2 pt-2 text-center">High Scores</h2>
<div class="p-6 flex flex-row flex-wrap place-content-around text-center gap-4">
	<table class="table-fixed bg-transparent/25 p-2 grow">
		<thead>
			<tr>
				<th colspan="2" class="text-2xl text-sky-400">EASY</th>
			</tr>
			<tr>
				<th class="text-2xl text-sky-400">PLAYER</th>
				<th class="text-2xl text-sky-400">TIME</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of easyScores">
				<td class="text-xl">{{ row.pseudo | uppercase }}</td>
				<td class="text-xl">{{ row.timer }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table-fixed bg-transparent/25 grow">
		<thead>
			<tr>
				<th colspan="2" class="text-2xl text-sky-400">MEDIUM</th>
			</tr>
			<tr>
				<th class="text-2xl text-sky-400">PLAYER</th>
				<th class="text-2xl text-sky-400">TIME</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of mediumScores">
				<td class="text-xl">{{ row.pseudo | uppercase }}</td>
				<td class="text-xl">{{ row.timer }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table-fixed bg-transparent/25 grow">
		<thead>
			<tr>
				<th colspan="2" class="text-2xl text-sky-400">HARD</th>
			</tr>
			<tr>
				<th class="text-2xl text-sky-400">PLAYER</th>
				<th class="text-2xl text-sky-400">TIME</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of hardScores">
				<td class="text-xl">{{ row.pseudo | uppercase }}</td>
				<td class="text-xl">{{ row.timer }}</td>
			</tr>
		</tbody>
	</table>
</div>
