td {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    // background-color: rgb(185, 184, 184);
}

.flag, .clear {
    background-color: rgb(240, 240, 240);
}

.bomb {
    background-color: red;
}