.flag, .clear {
    background-color: rgb(240, 240, 240);
}

.bomb {
    background-color: red;
}
td {
    width: clamp(16px, 2.5vw, 24px);
    height: clamp(16px, 2.5vw, 24px);
    min-width: clamp(16px, 2.5vw, 24px);
    min-height: clamp(16px, 2.5vw, 24px);
    aspect-ratio: 1 / 1;

    border: 1px solid rgba(0, 0, 0, 0.2);
    
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

table {
    table-layout: fixed;
    width: fit-content;
}